:root{
  --white: #fff;
  --black: #000000;
}

::-webkit-scrollbar{
  display: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  position: relative;
  user-select: none;
}

/* HEADER */

.presentation {
  position: relative;
  height: 100vh;
  display: flex;
  & .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    text-align: center;

    & h1{
      font-size: 7rem;
    }

    & h3{
      font-size: 3rem;
      font-weight: 100;
    }
  }
}


.work {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* MAIN */
main{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  & section{
    margin-bottom: 4rem;
    width: 740px;
    display: flex;
    flex-direction: column;

    & h2{
      line-height: 1;
      padding-bottom: .5rem;
      border-bottom: 4px solid;
      font-size: 4rem;
      margin-bottom: 2rem;
    }

    & h3 {
      font-size: 35px;
      line-height: .5;
    }

    & p {
      font-size: 22px;
      line-height: 2;
    }
  }

  & #about-me div{
    text-wrap: balance;
  }

  & #projects{
    & a{
      display: flex;
      width: 700px;
      height: 420px;
      border-radius: 10px;
      box-shadow: 0rem 0rem 1.5rem rgba(0, 0, 0, 0.1);
      overflow: hidden;
    
      & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        filter: none;
        transition: transform .3s ease, filter .3s ease;
      }

      &:hover {
        & img {
          transition: transform .3s ease, filter .3s ease;
          transform: scale(1.05);
          filter: grayscale(1);
        }
      }
    }

    & .card {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    & .cards{
      display: flex;
      flex-direction: column;
      gap: 4rem;
      justify-content: center;
      align-items: center;
    }
  }
}

/* FOOTER */

/* MEDIA QUERIES */
@media (max-width: 700px) {
  header{
    text-align: center;
    & div{
      padding: 0rem;
      & h1{
        font-size: 4rem;
      }
      & h3{
        font-size: 1.5rem;
      }
    }
  }
  main{
    padding: 0;
    & section{
      display: flex;
      flex-direction: column;
      padding: 0rem 1rem;
  
      & h2{
        text-align: center;
        padding-bottom: 1rem;
        border-bottom: 1px solid;
        font-size: 3rem;
      }
    }
  
    & #about-me{
      margin-bottom: 5rem;
    }
  
    & #about-me div{
      padding: 3rem .5rem;
      font-size: 1.2rem;
      text-align: center;
      display: flex;
      flex-direction: column;
  
      & ul{
        font-size: 2.5rem;
        display: flex;
        gap: 2rem;
        & li{
          display: flex;
        }
      }
    }
  
    & #projects{
      margin-bottom: 0rem;
  
      & a{
        position: relative;
        width: 90%;
        height: 30vh;
        border-radius: .5rem;
        box-shadow: 0rem 0rem 1.5rem rgba(0, 0, 0, 0.1);
        overflow: hidden;
      
        & img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          aspect-ratio: 16/9;
        }
      }
  
      & .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem 0rem;
        gap: 3rem;
      }
    }
    & .up{
      display: none;
    }
  }
  footer{
    padding: 0 1rem;
    & a{
      font-size: 1rem;
    }
    & ul{
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: center;
    }
  }
}