@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
  --white: #fff;
  --black: #000;
}

::-webkit-scrollbar{
  display: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  user-select: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}

p,  ul, li, a{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
}

a{
  text-decoration: none;
  color: var(--black);
  letter-spacing: 2px;
}

address {
  font-style: normal;
}

/* HEADER */

.presentation {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    margin-bottom: 30px;

    & h1{
      font-size: 95px;
    }

    & h3{
      font-size: 30px;
      font-weight: 100;
    }
  }
}


.work {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* MAIN */
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: 22px;
  line-height: 2;
  
  & .work {
    & ul {
      padding-inline-start: 30px;
    }
  }

  & section{
    margin-bottom: 4rem;
    width: 740px;
    display: flex;
    flex-direction: column;

    & h1 {
      line-height: 1;
    }

    & h2{
      line-height: 1;
      padding-bottom: .5rem;
      border-bottom: 4px solid;
      font-size: 4rem;
      margin-bottom: 2rem;
    }

    & h3 {
      font-size: 35px;
      line-height: .5;
    }

    & p {
      font-size: 22px;
      line-height: 2;
    }
  }

  & #projects{
    & a{
      display: flex;
      width: 700px;
      height: 420px;
      border-radius: 10px;
      box-shadow: 0rem 0rem 1.5rem rgba(0, 0, 0, 0.1);
      overflow: hidden;
    
      & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        filter: none;
        transition: transform .3s ease, filter .3s ease;
      }

      &:hover {
        & img {
          transition: transform .3s ease, filter .3s ease;
          transform: scale(1.05);
          filter: grayscale(1);
        }
      }
    }

    & .card {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    & .cards{
      display: flex;
      flex-direction: column;
      gap: 7rem;
      justify-content: center;
      align-items: center;
    }
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
}

/* MEDIA QUERIES */
@media (max-width: 700px) {

}